<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.simba.heroesmanual">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Disclaimer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HealthcareHome" />
        <activity android:name=".Learn" />
        <activity android:name=".ScreenForDV" />
        <activity android:name=".ResourcesPage" />
        <activity android:name=".WhatToSay" />
        <activity android:name=".SafetyPlan" />
        <activity android:name=".QRCode" />
        <activity android:name=".GeneralInfo" />
        <activity android:name=".VictimInfo" />
        <activity android:name=".PerpatratorInfo" />
        <activity android:name=".ScreeningInfo" />
        <activity android:name=".TestYourKnowledge"></activity>
    </application>

</manifest>